@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: Poppins, sans-serif;
}

.container {
  border: 1px solid steelblue;
  border-radius: 5px;
  max-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  overflow: auto;
  padding: 30px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 70px;
  text-align: center;
}

.btn:hover {
  filter: brightness(75%);
}

.form-control {
  margin: 0 0 10px 0;
}

.form-control input {
  height: 2em;
  width: 100%;
}

.submit-container {
  text-align: center;
}

.save-btn {
  background-color: black;
  height: 2em;
  margin: 0 0 5px 0;
  width: 20%;
}

.task {
  align-items: center;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

.task-container {
  display: flex;
}

.task-wrapper {
  margin-left: 15px;
}

.task-text {
  font-weight: bolder;
}

.task-day {
  font-size: 14px;
}
